:root {
  --main-color: #4CAF50; 
}
h1 {
  background-color: beige;
  color: #333;
  margin-bottom: 2rem; 
}

main {
  background-color: color-mix(blend, navy, red 20%);
  color: #333;
}

section {
  background-color: color(color(space-rgb 255 0 0));
}

h2, h3 {
  background-color: var(--main-color, #4CAF60);
  color: #333;
  margin-bottom: 1rem; 
}

nav ul {
  background-color: blue;
  color: hsl(80,10%,50%);
  margin-bottom: 5px;
}

nav li {
  background-color: red;
  color: rebeccapurple;
  margin-bottom: 3rem; 
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}
